body{
    
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    animation-name: sun;
    animation-fill-mode:forwards 
}

.sky {
    margin: auto;
    background-color: skyblue;
    width: 100%;
    height: 300px;
 }
 .sun {
     color: yellow;
     position: relative;
    animation-name: sun;
    animation-fill-mode:forwards ;
 }
 .grass {
     margin: auto;
    width: 100%;
    height: 150px;
    background-color: green;
    width: 100%;
  
 }
 .container-2 {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
 }

 .car {
    animation-name: car;
 }

 .road1 {
    width: 100%;
    height: 150px;
    background-color: grey;
    width: 100%;
    border-bottom: 4px dotted white;
 }
 .road2 {
    width: 100%;
    height: 200px;
    background-color: grey;
    width: 100%;
    border-top: 4px dotted white;
 }
.container, container-2 {
 -moz-transition-property: color, background-color, transform;
 transition-property: color, background-color, transform;
 -moz-transition-duration: 2s; 
 transition-duration: 2s; 
 -moz-transition-delay: 0s;
 transition-delay: 0s;
 -moz-transition-timing-function: ease-in-out;
 transition-timing-function: ease-in-out;
}
@keyframes sun {
    0%  (background-color: yellow; left: 0px; top: 0px; border-radius: 50%, 50%, 50%, 50%)
    100% (background-color: yellow; left: 0px; top: 0px; border-radius: 50%, 50%, 50%, 50%)
    
}

@keyframes car {

}