.sun {
    border-radius: 50%;
    width: 100px;
    background-color: yellow;
    line-height: 0;
    padding: 50px 0;
}

.sky {
    background-color: skyblue;
    width: 100%;
    height: 370px;
}
.grass {
    width: 100%;
    height: 150px;
    background-color: green;
    width: 100%;}
.lines {
    border: 7px dashed white;
    width: 100%;
    height: 0px;
    position: absolute;
    top: 100%;
}
.roads {
    width: 100%;
    height: 400px;
    background-color: grey;
  
}
img {
    position: absolute;
    width: 75px;
    bottom: 15px;
    animation-name: myannie;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-duration: 3s;
    animation-direction: forwards;
}

@keyframes myannie{

    from{ left: -300px;}
    to { left: 2000px;}
/* 0% {transform: translateX(0);}
25% {transform: translateX(220px);}
50% {transform: translateX(-40px);}
75% {transform: translateX(600px);}
100% {transform: translateX(880px);}*/


}

</style>
</head>

<body>
<header>
<nav>
    <a href="animation.css">My Animation</a>
    <a href="circles.html">Watch me transform</a>
    <a href="dropdown.html">Dropdown Menu</a>
    <a href="selector.html">Selectors</a>
    <a href="recipe.html">Recipes</a>
</nav>