body {
    color: black;
    

}
nav {
    color: black;
    text-align: center;
}

   

.sky{
   background-color: skyblue;
   width: 100%;
}
.sun {

}
.grass {
   
   background-color: green;
   width: 100%;
 
}
.road1 {
   
   background-color: grey;
   width: 100%;
}
.road2 {
   
   background-color: grey;
   width: 100%;
}



