*{
    margin: 0;
    padding: 1.5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul li {
    float: left;
    list-style-type: none;
    opacity: .8;
}
ul li a {
    border:1px solid black;
    box-shadow: 5px 5px 5px 5px grey;
    margin-right: 5px ;
    text-decoration: none;
    width: 125px;
    height: 50px;
    line-height: 40px;
    display: inline-block;
    color: rosybrown;
    text-align: center;

}
ul li a:hover {
    background-color: silver;
    color: springgreen;
    font-size: 25px;

}
.dropdown li a {
    height: 25px;
    line-height: 25px;   
}
    
.dropdown li {
    float: none;
}
li .dropdown{
    visibility: hidden;
}
li:hover .dropdown {
    visibility: visible;
}