<body>

   
        * {
            margin: 0px;
            padding: 1.5px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
            ul li {
                float: left;
                list-style-type: none;
                opacity: .8;
            }

            ul li a {
                border: 1px solid black;
                box-shadow: 10px 5px 10px 5px grey;
                text-decoration: none;
                margin-right: 5px;
                width: 125px;
                height: 50px;
                line-height: 50px;
                display: inline-block;
                color: rosybrown;
                text-align: center;

            }
            ul li a :hover{
                background-color: silver;
                color: springgreen;
                font-size: 25px;
            }
            .dropdown li a {
                height: 25px;
                line-height: 25px;
            }

            .dropdown li {
                float: none;
            }

            li .dropdown{ 
                visibility: hidden;

            }
            li:hover .dropdown {
                visibility: hidden;

            }
        
  