body {
    color: black;
    background-color:blanchedalmond;
}
nav, h1, h3, p {
        text-align: center;
    
    }
img {
    width: 200px;
    border: 10px solid black;
    padding: 20px;
    margin: 10px;
    
}
.container {
    width: 100%;
    margin: 25px;
    
}
    
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.col-6 {
    flex: 1;
    

   
}
.img, .steps, .p {
    -moz-transition-property: color, background-color, transform;
    transition-property: color, background-color, transform;
    -moz-transition-duration: 2s; 
    transition-duration: 2s; 
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    -moz-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}
    
    .img1:hover {
        color:white;
        background-color: black;
        transform: rotate(180deg);  
    }
    .img2:hover {
        color:white;
        background-color: black;
        transform: rotate(180deg);
    }
    .img3:hover {
        color:white;
        background-color: black;
        transform: rotate(180deg);  
    }
    .steps:hover{
        color:white;
        background-color: black;
        transform: scale(2,2);
        
    }
    .p:hover {
        color: white;
        background-color: black;
        transform: skewX(20deg);
    }
   
}
* {
    margin: 0px;
    padding: 1.5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li {
    float: left;
    list-style-type: none;
    opacity: .8;
}
ul li a {
    border: 1px solid black;
    text-decoration: none;
    margin-right: 5px;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: block;
    color: black;
    text-align: center;
   
}
ul li a:hover {
    background-color: black;
    color: white;
    border: radius 3px; 
   
}
.dropdown {
    background-color: black;
    color: white;

   
}
.dropdown2 {
    display: none;
   
}



        
        
        
    